* {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  height: 100vh;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  background: var(--bg-color);
  font-family: 'Roboto', sans-serif;
}

.darkMode {
  --bg-color: #121214;
  --bg-cards: #29292E;
  --bg-cards-active: #0A3442;
  --color-dark: #C4C4CC;
  --color-light: #E1E1E6;
}

.lightMode {
  --bg-color: #FFFFFF;
  --bg-cards: #E1E1E6;
  --bg-cards-active: #02799D;
  --color-dark: #323238;
  --color-light: #E1E1E6;
}

.hide {
  display: none;
}

.iconLightMode {
  position: absolute;
  top: 6.4rem;
  right: 6.4rem;

  background: transparent;
  cursor: pointer;
}

.iconDarkMode {
  position: absolute;
  top: 6.4rem;
  right: 6.4rem;

  background: transparent;
  cursor: pointer;
}

.timer {
  display: flex;
  font-size: 126.17px;
  color: var(--color-dark);
}

.controls {
  display: flex;
  gap: 4rem;
  margin-top: 3.2rem;
}

.buttonControls {
  cursor: pointer;
  background: transparent;
}

.buttonControls svg path {
  fill: var(--color-dark);
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.2rem;
}

.button {
  width: 13.8rem;
  height: 15.2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  border-radius: 2.4rem;
  background: var(--bg-cards);
  cursor: pointer;
}


.active{
  background: var(--bg-cards-active);
}

.active svg path{
  fill: var(--color-light);
} 

svg path {
  fill: var(--color-dark);
}


.slider {
  -webkit-appearance: none;
  width: 65%;
  height: .4rem;
  background: var(--color-dark);
  border-radius: .2rem;
}

.active .slider {
  background: var(--color-light);
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1.6rem;
  height: 1.6rem;
  background-color: var(--color-dark);
  border-radius: 50%;
}

.active .slider::-webkit-slider-thumb {
  background-color: var(--color-light);
}

.slider::-moz-range-thumb {
  width: 1.6rem;
  height: 1.6rem;
  background-color: var(--color-dark);
  border-radius: 50%;
}

.active .slider::-moz-range-thumb  {
  background-color: var(--color-light);
}

.slider::-ms-thumb {
  width: 1.6rem;
  height: 1.6rem;
  background-color: var(--color-dark);
  border-radius: 50%;
}

.active .slider::-ms-thumb  {
  background-color: var(--color-light);
}


